.title-text {
  background: linear-gradient(115deg, #ff5f6d, #ffc371);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20rem;
  animation: gradient-animation 10s ease infinite;
}

.titleContainer {
  background-color: #1e1e1e;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
