button {
  border-radius: 0.5rem;
  background-color: #1e1e1e;
  border: 2px solid #484848;
  transition: all 400ms ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
}

body {
  background: linear-gradient(115deg, #ff5f6d, #ffc371);
  background-size: 200% 200%;
  animation: gradient-animation 30s ease infinite;
  color: white;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
