@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container {
  width: 20%;
}

input, select {
  width: 100%;
  border-radius: 0.5rem;
  border-color: transparent;
  padding: 0.2rem;
}

h1 {
  font-family: "Lato", sans-serif;
}

button:hover {
  color: black;
  transform: scale(1.1);
}

#searchButton,
#homeButton {
  margin-left: 1rem;
  margin-top: 1rem;
}

.gradient-text {
  background-image: linear-gradient(115deg, #ff5f6d, #ffc371);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}
